---
const { text, author } = Astro.props;
---
<p class="m-13 text-center text-2xl">
  <strong>”</strong>
  <br />
  <span class="italic font-serif">
    {text}
  </span>
  <br />
  <br />
  <span class="text-sm">{author}</span>
</p>
